/* font family */
@font-face {
    font-family: myFirstFont;
    src: url(/assets/font/00819\ Regular.ttf);
}

/* nav bar css */
.navbar-nav li.nav-item a.nav-link {
    color: #ffffff;
    font-family: "Quicksand";
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: #aab33c;
}

.navbar-light .navbar-nav button.nav-link {
    border-radius: 2px;
    border: none;
    color: #ffffff;
    background-color: #aab33c;
}

.navbar-light .navbar-nav button.nav-link:hover {
    background-color: #899d2b;
}

/* page-1 text */
.quotes {
    margin-top: 30px;
}

.quotes .quote-text {
    font-size: 50px;
    line-height: 25px;
    color: #aab33c;
    font-family: myFirstFont;
    padding-top: 155px;

}

.quotes .quote-subtext {
    display: block;
    font-family: "Quicksand";
    font-size: 20px;
    line-height: 10px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;

}

/* page-1 button */
.quotes button {
    display: block;
    margin-top: 20px;
    height: 40px;
    padding: 10px 12px;
    background-color: #aab33c;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* add a transition for the hover effect */
}

.quotes button:hover {
    background-color: #899d2b;
    color: black;
}

.row {
    --bs-gutter-x: 0;
}

/* cards section center content */
.cars-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.passage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.passage span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

/* cards css */
.card {
    opacity: 1;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: rgba(127, 136, 32, 0.3);
    margin-left: 30px;
    padding: 10px;
    margin-right: 10px;
}

#c1 {
    background-color: #e5f255;
    opacity: 2;
}

.card-card {
    margin-top: 20px;
}

/* cards text */
.card-text1 {
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 18px;
}

.card-text2 {
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
}

.card-text3 {
    margin-top: 13px;
    font-size: 13px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
}

.card-text4 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 13px;
}

/* cards img */
.card-img {
    margin-top: 10px;
}

.phone-para {
    font-size: 35px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.rounded float-end {
    float: right;
    top: 50px;
    padding-left: 125px;
    position: absolute
}

.col-lg-8 {
    margin-top: 35px;
    position: absolute;
}

.text-md-start {
    position: absolute;
    width: 724px;
    height: 221px;
    font-size: 22px;
    line-height: 24px;
    color: #404142;
    font-weight: 50;
    font-family: "Quicksand";
    top: 1030px;
}



.img-thumbnail {
    width: 68px;
    height: 68px;
    border-radius: 6px;
    background-color: #e5e8c4;
}

.rounded float-start {
    width: 68px;
    height: 68px;
    margin-top: 5px;
    border-radius: 6px;
    background-color: #e5e8c4;
    position: absolute;
}

.container-md {
    font-size: 35px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.container-sm {
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;

    font-family: "Quicksand";
}

.container-lg {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.container-fluid {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.container-md {
    position: absolute;
}

.rounded float-start {
    position: absolute;
}

#P2 {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#P1 {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#bh1 {
    background-color: #d5ea7c;
}

#im1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
#ha1{
    font-size: 30px;
line-height: 37px;
text-transform: uppercase;
color: #404142;
font-weight: 700;
font-family: "Quicksand";
}
#paragraph1{
    font-size: 20px;
line-height: 23px;
text-transform: uppercase;
color: #404142;
font-weight: 700;
font-family: "Quicksand";
}
#phone1{
    margin-bottom: 20px;
}
.comp {
    font-size: 40px;
    margin-top: 20px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#con1 {
    width: 646px;
    height: 202px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#con2 {
    width: 646px;
    height: 202px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#b1 {
    width: 235px;
    height: 47px;
    background-color: #aab33c;
    margin-left: 300px;
    margin-top: -100px;
    margin-bottom: 20px;

}

.btn btn-primary {
    padding-left: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgba(170, 179, 59, 0.3);
}

th {
    padding: 18px;
}

tr,
td {
    text-align: left;
    padding: 18px 10px 18px 10px;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: #e0e4aa;
}

.row {
    font-size: 11px;
    line-height: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

.row1 {
    font-size: 22px;
    line-height: 14px;
    color: #aab33b;
    font-weight: 700;
    font-family: "Quicksand";
}

#head1 {
    font-size: 36px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
}

#s1 {
    width: 100px;
    height: 54px;
    font-size: 11px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Quicksand";
}

#head2 {
    font-size: 25px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
}

#s2 {
    font-size: 16px;
    line-height: 30px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: right;
}

#f1 {
    background-image: url("/assets/images/bg3.png");
    font-size: 35px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ov1 {
    width: 320px;
    height: 74px;
    margin-top: 2px;
    filter: drop-shadow(3.064px 2.571px 5px rgba(136, 133, 38, 0.17));
    background-color: #fdffe9;
}